.input-wrapper {
  display: flex;
  align-items: center;

  & > input {
    width: 100%;
  }

  & > .input-image-button {
    margin-left: 12px;
    padding: 0;
    background: transparent;
    border: none;

    & > img {
      width: 20px;
      height: 20px;
    }
  }
}
